.blank-layout-container {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #f8f9fa;
}

.bg-light-primary {
  background-color: #eef3ff;
}

.bg-gredient {
  background: linear-gradient(180deg, rgba(93,135,255,0.08), rgba(93,135,255,0));
}