/* Anchos del sidebar */
$w-expanded: 260px;
$w-collapsed: 72px;

/* El contenedor usa CSS Grid con 2 columnas:
   - Izquierda: sidebar (ancho variable)
   - Derecha: header y content
*/
.full{
  --sidebar-w: #{$w-expanded};        /* valor por defecto */
  display: grid;
  grid-template-rows: 64px 1fr;       /* alto del header + resto */
  grid-template-columns: var(--sidebar-w) 1fr;
  grid-template-areas:
    "aside header"
    "aside content";
  height: 100vh;
  width: 100%;
  overflow: hidden;                    /* que no haga scroll el wrapper */

  &.collapsed{
    --sidebar-w: #{$w-collapsed};      /* cuando el menú está colapsado */
    grid-template-columns: 0 1fr; 
  }

  &.mobile{
    --sidebar-w: 0px;                  /* en móvil, la columna del sidebar vale 0 */
    grid-template-columns: 0 1fr;      /* header y content ocupan todo */
  }
}

.aside   { grid-area: aside;   min-width: 0; max-width: 150px; }
.header  { grid-area: header;  min-width: 0; }
.content { grid-area: content; min-width: 0; overflow: auto;padding:10px }